@media only screen and (min-width: 671px) and (max-width:1024px) {
  .container {
    max-width: 100%;
  }

  .header {
    height: 22rem;
    padding-top: 0;
    margin: 0 auto;
  }

  .links {
    max-width: 620px;
  }

  #banner {
    margin-top: 7rem;
    margin-left: 1rem;
    padding-right: 2rem;
  }

  #banner h1 {
    font-size: 1.33rem;
    padding: 1.5rem 4rem;
    line-height: 1.4;
  }

  main {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 670px) {
  .nav h4 {
    display: none;
  }

  .navlink {
    display: none;
  }

  #menu {
    display: block;
  }

  #banner {
    justify-content: center;
  }

  #banner h1 {
    width: 100%;
  }

  .icon-row {
    flex-direction: column;
  }

  .info {
    flex-direction: column;
  }

  .tile {
    width: 100%;
  }
}
